In [1]:
import pandas as pd

In [7]:
details_df =pd.read_csv("D:/power bi/Details.csv")
order_df =pd.read_csv("D:/power bi/Orders.csv")
order_df.head()

  Order ID  Order Date CustomerName           State     City
0  B-26055  10-03-2018    Harivansh   Uttar Pradesh  Mathura
1  B-25993  03-02-2018       Madhav           Delhi    Delhi
2  B-25973  24-01-2018  Madan Mohan   Uttar Pradesh  Mathura
3  B-25923  27-12-2018        Gopal     Maharashtra   Mumbai
4  B-25757  21-08-2018     Vishakha  Madhya Pradesh   Indore

In [9]:
details_df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [17]:
sales_df =pd.merge(details_df,order_df , on="Order ID", how ="inner")
sales_df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,Order Date,CustomerName,State,City
0,B-25681,1096,658,7,Electronics,Electronic Games,COD,04-06-2018,Bhawna,Madhya Pradesh,Indore
1,B-26055,5729,64,14,Furniture,Chairs,EMI,10-03-2018,Harivansh,Uttar Pradesh,Mathura
2,B-25955,2927,146,8,Furniture,Bookcases,EMI,16-01-2018,Shiva,Maharashtra,Pune
3,B-26093,2847,712,8,Electronics,Printers,Credit Card,27-03-2018,Sarita,Maharashtra,Pune
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card,01-04-2018,Vrinda,Maharashtra,Pune

In [21]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      1500 non-null   object
 1   Amount        1500 non-null   int64
 2   Profit        1500 non-null   int64
 3   Quantity      1500 non-null   int64
 4   Category      1500 non-null   object
 5   Sub-Category  1500 non-null   object
 6   PaymentMode   1500 non-null   object
 7   Order Date    1500 non-null   object
 8   CustomerName  1500 non-null   object
 9   State         1500 non-null   object
 10  City          1500 non-null   object
dtypes: int64(3), object(8)
memory usage: 129.0+ KB

In [27]:
sales_df.shape

(1500, 11)

In [29]:
sales_df.isnull().sum()

Order ID        0
Amount          0
Profit          0
Quantity        0
Category        0
Sub-Category    0
PaymentMode     0
Order Date      0
CustomerName    0
State           0
City            0
dtype: int64

In [31]:
sales_df.describe

<bound method NDFrame.describe of      Order ID  Amount  Profit  Quantity     Category      Sub-Category  \
0     B-25681    1096     658         7  Electronics  Electronic Games
1     B-26055    5729      64        14    Furniture            Chairs
2     B-25955    2927     146         8    Furniture         Bookcases
3     B-26093    2847     712         8  Electronics          Printers
4     B-25602    2617    1151         4  Electronics            Phones
...       ...     ...     ...       ...          ...               ...
1495  B-25700       7      -3         2     Clothing       Hankerchief
1496  B-25757    3151     -35         7     Clothing          Trousers
1497  B-25973    4141    1698        13  Electronics          Printers
1498  B-25698       7      -2         1     Clothing       Hankerchief
1499  B-25993    4363     305         5    Furniture            Tables

      PaymentMode  Order Date CustomerName           State     City
0             COD  04-06-2018       Bhawna  Madhya Pradesh   Indore
1             EMI  10-03-2018    Harivansh   Uttar Pradesh  Mathura
2             EMI  16-01-2018        Shiva     Maharashtra     Pune
3     Credit Card  27-03-2018       Sarita     Maharashtra     Pune
4     Credit Card  01-04-2018       Vrinda     Maharashtra     Pune
...           ...         ...          ...             ...      ...
1495          COD  25-06-2018       Shubhi     Maharashtra   Mumbai
1496          EMI  21-08-2018     Vishakha  Madhya Pradesh   Indore
1497          COD  24-01-2018  Madan Mohan   Uttar Pradesh  Mathura
1498          COD  23-06-2018       Amisha      Tamil Nadu  Chennai
1499          EMI  03-02-2018       Madhav           Delhi    Delhi

[1500 rows x 11 columns]>

In [49]:
df =pd.DataFrame(sales_df)
df.to_csv("sales_data.csv",index =False)

In [53]:
## kpi aggregation
Total_sales =sales_df["Amount"].sum() 
Total_profit =sales_df["Profit"].sum() 
Total_quantity =sales_df["Quantity"].sum() 
average_order_value = sales_df["Amount"].mean()

In [59]:
sales={
    "Total sales " :Total_sales,
    "Total_profit" : Total_profit,
    "Total_quantity " : Total_quantity,
     "avereged order " : average_order_value}
sales

{'Total sales ': 437771,
 'Total_profit': 36963,
 'Total_quantity ': 5615,
 'avereged order ': 291.8473333333333}

## top 5

In [61]:
Top_category = ( sales_df.groupby("Category")["Amount"].sum().sort_values(ascending=False).head(5))
Top_subcategpry = ( sales_df.groupby("Sub-Category")["Amount"].sum().sort_values(ascending=False).head(5))
Top_state = ( sales_df.groupby("State")["Amount"].sum().sort_values(ascending=False).head(5))
Top_customer = ( sales_df.groupby("CustomerName")["Amount"].sum().sort_values(ascending=False).head(5))

In [63]:
category ={
    "Top category " : Top_category,
    "Top sub -category " : Top_subcategpry,
    "Top state " : Top_state,
    "Top customer  " : Top_customer,
}
category

{'Top category ': Category
 Electronics    166267
 Clothing       144323
 Furniture      127181
 Name: Amount, dtype: int64,
 'Top sub -category ': Sub-Category
 Printers            59252
 Saree               59094
 Bookcases           56861
 Phones              46119
 Electronic Games    39168
 Name: Amount, dtype: int64,
 'Top state ': State
 Maharashtra       102498
 Madhya Pradesh     87463
 Uttar Pradesh      38362
 Delhi              22957
 Rajasthan          22334
 Name: Amount, dtype: int64,
 'Top customer  ': CustomerName
 Harivansh      9902
 Madhav         9365
 Madan Mohan    7766
 Shiva          6339
 Vishakha       6120
 Name: Amount, dtype: int64}